@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700&display=swap");

:root {
  --darker-navy: #001233;
  --dark-navy: #001845;
  --medium-navy: #002855;
  --light-navy: #023e7d;
  --accent-blue: #0463c2;
  --accent-red: #fc4e28;
  --accent-orange: #f18f01;
  --accent-green: #99c24d;
}

* {
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

ul {
  padding-inline-start: 20px;
}

.square {
  all: unset;
  width: 6rem;
  height: 6rem;

  border: 3px solid var(--accent-blue);
  box-sizing: border-box;

  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
}

.no-border {
  border: none;
}

.full-border {
  border: 3px solid var(--accent-blue);
}

.status {
}

.game {
  margin: 0;
  padding: 0;
  height: 100%;

  display: grid;
  grid-template-columns: [l-margin] 20% [l-mid] 30% [r-mid] 30% [r-margin] 20%;
  grid-template-rows: [head] 15% [top-mid] 1fr [mid] 1fr [bot-mid] 1fr [foot] 15%;
  justify-items: stretch;
  align-items: stretch;

  background: radial-gradient(
      50% 50% at 50% 50%,
      var(--light-navy) 0%,
      rgba(0, 40, 85, 0.6) 65%,
      rgba(0, 33, 78, 0.3) 80%,
      var(--darker-navy) 100%
    ),
    var(--darker-navy);
}
.game-board {
  grid-area: top-mid / l-mid / bot-mid / r-mid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
}
.game-total {
  grid-area: bot-mid / l-mid / foot / r-mid;
  background-color: aqua;
}

.game-bar {
  grid-area: top-mid / r-mid / mid / r-margin;
  display: flex;

  background-color: pink;
}

.game-status {
  flex: 1;
  background-color: blue;
}

.game-reset {
  flex: 1;
  background-color: yellow;
}

.game-info {
  grid-area: mid / r-mid / foot / r-margin;
  background-color: red;
}

.panel {
  border-radius: 15px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
